extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Đăng ký
          nav.d-flex.align-items-center
            a(href='home.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='login.html')
              | Đăng nhập/đăng ký
              span.lnr.lnr-arrow-right
            a(href='#') Đăng ký
  // End Banner Area
  
  // Start Register Box Area
  section.login_box_area.section_gap
    .container  
      .row
        .col-lg-12
          .login_form_inner
            h3 Đăng ký
            form#contactForm.row.login_form(action='#', method='POST')
              .col-md-12.form-group
                if typeof(errors)!='undefined'
                  each error in errors
                    .alert.alert-danger
                      | #{error}
                if success_msg!=''
                  .alert.alert-success
                    | #{success_msg}
                if error_msg!=''
                  .alert.alert-danger
                    | #{error_msg}
              .col-lg-12.form-group
                span 
                  h5.text-left Họ tên
                input.form-control(type='text', name='name', value=(typeof(values)!='undefined') ? values.name : '') 
              .col-md-12.form-group
                h5.text-left Số điện thoại
                input.form-control(type='tel', name='phone', value=(typeof(values)!='undefined') ? values.phone : '', pattern="0[0-9]{9}", required)
              .col-md-12.text-left
                h5.text-left Giới tính
                input.form-group(type='radio', name='gender', value='male', checked='')
                | &nbsp;&nbsp;Nam
                br
                input.form-group(type='radio', name='gender', value='female') 
                | &nbsp;&nbsp;Nữ
                br
                input.form-group(type='radio', name='gender', value='other') 
                | &nbsp;&nbsp;Khác
              .col-md-12.form-group
                h5.text-left Ngày sinh
                input.form-control(type='date', name='birth', value=(typeof(values)!='undefined') ? values.birth : '')
              .col-md-12.form-group
                h5.text-left Email
                input.form-control(type='email', name='email', value=(typeof(values)!='undefined') ? values.email : '')
              .col-md-12.form-group
                h5.text-left Mật khẩu
                input.form-control(type='password', name='password1', value=(typeof(values)!='undefined') ? values.password1 : '')
              .col-md-12.form-group
                h5.text-left Nhập lại mật khẩu
                input.form-control(type='password', name='password2', value=(typeof(values)!='undefined') ? values.password2 : '')

              .col-md-12.form-group
                button.primary-btn(type='submit', value='submit') Đăng ký
  // End Register Box Area