extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Đổi mật khẩu
          nav.d-flex.align-items-center
            a(href='home.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='#')
              | Đổi mật khẩu
              span.lnr.lnr-arrow-right
  // End Banner Area
  
  // Start Box Area
  section.login_box_area.section_gap
    .container  
      .row
        .col-lg-12
          .login_form_inner
            h3 Đổi mật khẩu
            form#contactForm.row.login_form(action='#', method='POST')
              .col-md-12.form-group
                if typeof(errors)!='undefined'
                  each error in errors
                    .alert.alert-danger
                      | #{error}
                if success_msg!=''
                  .alert.alert-success
                    | #{success_msg}
                if error_msg!=''
                  .alert.alert-danger
                    | #{error_msg}
              .col-md-12.form-group
                h5.text-left Mật khẩu cũ
                input.form-control(type='password', name='password1', value=(typeof(values)!='undefined') ? values.password1 : '')
              .col-md-12.form-group
                h5.text-left Mật khẩu mới
                input.form-control(type='password', name='password2', value=(typeof(values)!='undefined') ? values.password2 : '')    
              .col-md-12.form-group
                h5.text-left Nhập lại mật khẩu mới
                input.form-control(type='password', name='password3', value=(typeof(values)!='undefined') ? values.password3 : '')
              .col-md-12.form-group
                button.primary-btn(type='submit', value='submit') Cập nhật
  // End Box Area