extends layout

block content
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Danh sách tài khoản
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
  .product-status.mg-b-30
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .product-status-wrap
            h4 Danh sách tài khoản
            table
              tr
                th Số thứ tự
                th Email
                th Họ tên
                th Số điện thoại
                th Giới tính
                th Ngày sinh
                th Tuỳ chọn
              - var stt = 0;
              each user in users
                - stt++;
                tr
                  td #{stt}
                  td #{user.email}
                  td #{user.name}
                  td #{user.phone}
                  if user.gender == 'male'
                    td Nam
                  else if user.gender == 'female'
                    td Nữ
                  else
                    td Khác
                  td #{user.birth}
                  td
                    button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                      a(href='admin-account-edit.html?_id='+user._id)
                        i.fa.fa-pencil-square-o(aria-hidden='true')
            .custom-pagination
              ul.pagination
                li.page-item
                  a.page-link(href='admin-account-list.html?startPage='+((startPage==1)?1:startPage-1)+'&page='+((page==1)?1:page-1)) Trước

                if page==startPage

                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+startPage, style='color: red;') #{startPage}
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+(startPage+1)) #{startPage+1}
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+(startPage+2)) #{startPage+2}
                
                else if page==startPage+1
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+startPage) #{startPage}
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+(startPage+1), style='color: red;') #{startPage+1}
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+(startPage+2)) #{startPage+2}
                
                else
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+startPage) #{startPage}
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+(startPage+1)) #{startPage+1}
                  
                  li.page-item
                    a.page-link(href='admin-account-list.html?startPage='+startPage+'&page='+(startPage+2), style='color: red;') #{startPage+2}
                li.page-item
                  a.page-link(href='admin-account-list.html?startPage='+(startPage+1)+'&page='+(page+1)) Sau