extends layout

block content
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Thông tin tài khoản
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download                      
  .single-product-tab-area.mg-b-30
    .single-pro-review-area
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .review-tab-pro-inner
              ul#myTab3.tab-review-design
                li.active
                  a(href='#description')
                    i.icon.nalika-edit(aria-hidden='true')
                    |  Thông tin tài khoản
              #myTabContent.tab-content.custom-product-edit
                #description.product-tab-list.tab-pane.fade.active.in
                  form#add-form(action='#', method='POST', style='color: white;')
                    if typeof(errors)!='undefined'
                      each error in errors
                        .alert.alert-danger
                          | #{error}
                    if success_msg!=''
                      .alert.alert-success
                        | #{success_msg}
                    .row
                      .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        .review-content-section
                          .input-group.mg-b-pro-edt
                            span 
                              h5.text-left Họ tên
                            input.form-control(type='text', name='name', value=(typeof(values)!='undefined') ? values.name : '') 
                          .input-group.mg-b-pro-edt
                            h5.text-left Số điện thoại
                            input.form-control(type='tel', name='phone', value=(typeof(values)!='undefined') ? values.phone : '', pattern="0[0-9]{9}", required, disabled, style='background-color: black;')
                          .input-group.mg-b-pro-edt
                            h5.text-left Giới tính
                            input.form-group(type='radio', name='gender', value='male', checked=(values.gender=='male') ? true : false)
                            | &nbsp;&nbsp;Nam
                            br
                            input.form-group(type='radio', name='gender', value='female', checked=(values.gender=='female') ? true : false) 
                            | &nbsp;&nbsp;Nữ
                            br
                            input.form-group(type='radio', name='gender', value='other', checked=(values.gender=='other') ? true : false) 
                            | &nbsp;&nbsp;Khác
                      .col-lg-6.col-md-6.col-sm-6.col-xs-12
                        .review-content-section
                          .input-group.mg-b-pro-edt
                            h5.text-left Ngày sinh
                            input.form-control(type='date', name='birth', value=(typeof(values)!='undefined') ? values.birth : '')
                          .input-group.mg-b-pro-edt
                            h5.text-left Email
                            input.form-control(type='email', name='email', value=(typeof(values)!='undefined') ? values.email : '', disabled, style='background-color: black;')
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .text-center.custom-pro-edt-ds
                          button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='submit')
                            | Cập nhật